* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

a {
  color: #232d3f;
  text-decoration: none;
}
a:hover {
  color: #425a86;
}
header {
  background-color: #0f0f0f;
  margin-bottom: 0px;
}

footer {
  background-color: #0f0f0f;
  color: #ffff;
  height: 80px;
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 100px;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  background-color: #0f0f0f;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;

  padding: 10px;
}

.img-container {
  height: 75px;
}

.img-nav {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
#hero-section {
  background-color: #0f0f0f;
  margin-top: 0px;
}

#about-me {
  background-color: #373737;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#job {
  background-color: #414141;
  height: 100vh;
}

#skills {
  background-color: #525252;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
  background-color: #525252;
  height: 100vh;
}
.hero-banner {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero-banner div p {
  color: #fff;
}
.d-title {
  font-size: 48px;
  color: #fff;
}
.d-subTitle {
  font-size: 36px;
  color: #fff;
}
/* .lines {
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  width: 800px;
  text-align: center;
  padding: 80px;
} */

.top-line {
  border-top: solid 1px #fff;

  width: 800px;

  padding: 80px;

  animation-name: borderAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.bottom-line {
  border-bottom: solid 1px #fff;

  width: 800px;

  padding: 80px;

  animation-name: borderAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
  100% {
    border-color: transparent;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.flex-cont {
  width: 1300px;
}

.about-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  color: #ffffff;

  border: 1px solid #0f0f0f;
  width: 50vw;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 20px;
  animation-name: borderAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.lore {
  border: solid 1px #ffffff;
  color: #ffffff;
  margin: 10px;
  height: 400px;
  padding: 20px;
  animation-name: borderAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.exp {
  border: solid 1px #ffffff;
}

.img-about {
  margin-top: 10px;
}

.job-list > li {
  font-size: small;
  text-align: left;
  margin-bottom: 20px;
}

.carousel-cont {
  height: 300px;
}

.color-bar {
  background-color: #232d3f;
}

.project {
}

.project > a > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
